.blog {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-btn {
  top: 25px;
  right: 20%;
  position: absolute;
  padding: 5px 10px;
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}




